In [95]:
import pandas as pd
import numpy as np

### Read dividend file

In [96]:
nica_div=pd.read_csv(f"data/NICA_Dividend.csv",index_col='#')
prvu_div=pd.read_csv(f"data/PRVU_Dividend.csv",index_col='#')
gbime_div=pd.read_csv(f"data/GBIME_Dividend.csv",index_col='#')
nabil_div=pd.read_csv(f"data/NABIL_Dividend.csv",index_col='#')
sbl_div=pd.read_csv(f"data/SBL_Dividend.csv",index_col='#')

In [97]:
def format_dividends_df(df,bank_name):
    df.drop(columns="Right Share",inplace=True)
    df=df.rename(columns={'Cash Dividend': f'{bank_name}_Cash','Bonus Share': f'{bank_name}_Bonus'})
    return df

nica_div=format_dividends_df(nica_div,'NICA')
prvu_div=format_dividends_df(prvu_div,'PRVU')
gbime_div=format_dividends_df(gbime_div,'GBIME')
nabil_div=format_dividends_df(nabil_div,'NABIL')
sbl_div=format_dividends_df(sbl_div,'SBL')

### Clean NICA Dividend

In [98]:
nica_div

   Fiscal Year NICA_Cash NICA_Bonus
#
1      079-080     1.53%     29.00%
2      076-077     1.00%     19.00%
3      075-076    11.05%     10.00%
4      074-075     0.53%     10.00%
5      073-074     1.05%     20.00%
6      072-073     1.37%     26.00%
7      071-072     2.05%     39.00%
8      070-071    15.00%     15.00%
9      069-070    20.00%        NaN
10     068-069    25.00%        NaN

In [99]:
nica_div=nica_div[:8]

### Clean PRVU Dividend

In [100]:
row1={'Fiscal Year':'079-080'}
row2={'Fiscal Year':'070-071'}
pd.concat([prvu_div, pd.DataFrame([row1,row2])], ignore_index=True)

  Fiscal Year PRVU_Cash PRVU_Bonus
0     078-079     1.50%      6.50%
1     077-078     0.63%     12.00%
2     076-077     0.53%     10.00%
3     075-076     0.84%     16.00%
4     074-075     0.42%      8.00%
5     073-074       NaN        NaN
6     072-073       NaN        NaN
7     071-072       NaN        NaN
8     079-080       NaN        NaN
9     070-071       NaN        NaN

### Merge Cash dividend column of every bank

nica_div, prvu_div, gbime_div, nabil_div, SBL_div

In [105]:
nica_div['Fiscal Year'].values

array(['079-080', '076-077', '075-076', '074-075', '073-074', '072-073',
       '071-072', '070-071'], dtype=object)

In [106]:
# Merge the DataFrames for cash dividends
cash_df = nica_div[['Fiscal Year', 'NICA_Cash']]
cash_df = cash_df.merge(prvu_div[['Fiscal Year', 'PRVU_Cash']], on='Fiscal Year', how='outer')
cash_df = cash_df.merge(gbime_div[['Fiscal Year', 'GBIME_Cash']], on='Fiscal Year', how='outer')
cash_df = cash_df.merge(nabil_div[['Fiscal Year', 'NABIL_Cash']], on= 'Fiscal Year', how='outer')
cash_df = cash_df.merge(sbl_div[['Fiscal Year', 'SBL_Cash']], on='Fiscal Year', how='outer')

# Merge the DataFrames for bonus shares
bonus_df = nica_div[['Fiscal Year', 'NICA_Bonus']]
bonus_df = bonus_df.merge(prvu_div[['Fiscal Year', 'PRVU_Bonus']], on='Fiscal Year', how='outer')
bonus_df = bonus_df.merge(gbime_div[['Fiscal Year', 'GBIME_Bonus']], on='Fiscal Year', how='outer')
bonus_df = bonus_df.merge(nabil_div[['Fiscal Year', 'NABIL_Bonus']], on='Fiscal Year', how='outer')
bonus_df = bonus_df.merge(sbl_div[['Fiscal Year', 'SBL_Bonus']], on='Fiscal Year', how='outer')

In [114]:
cash_df=cash_df.iloc[::-1].reset_index(drop=True)
bonus_df=bonus_df.iloc[::-1].reset_index(drop=True)

In [120]:
cash_df=cash_df.fillna('-')
bonus_df=bonus_df.fillna('-')

In [121]:
cash_df

  Fiscal Year NICA_Cash PRVU_Cash GBIME_Cash NABIL_Cash SBL_Cash
0     079-080     1.53%         -      8.00%     11.00%    4.21%
1     078-079         -     1.50%     10.60%     11.50%    0.66%
2     077-078         -     0.63%      3.50%      4.40%    0.75%
3     076-077     1.00%     0.53%      2.00%      1.76%    3.00%
4     075-076    11.05%     0.84%     12.75%     22.00%   15.26%
5     074-075     0.53%     0.42%          -     22.00%    8.16%
6     073-074     1.05%         -     10.00%     18.00%        -
7     072-073     1.37%         -          -     15.00%        -
8     071-072     2.05%         -          -      6.84%    1.05%
9     070-071    15.00%         -      4.00%     45.00%   11.16%

In [122]:
bonus_df

  Fiscal Year NICA_Bonus PRVU_Bonus GBIME_Bonus NABIL_Bonus SBL_Bonus
0     079-080     29.00%          -       1.00%           -         -
1     078-079          -      6.50%       3.00%      18.50%    12.50%
2     077-078          -     12.00%      10.00%      33.60%    14.25%
3     076-077     19.00%     10.00%      14.00%      33.50%    12.00%
4     075-076     10.00%     16.00%      12.75%      12.00%    10.00%
5     074-075     10.00%      8.00%      16.00%      12.00%     5.00%
6     073-074     20.00%          -      10.00%      30.00%    14.00%
7     072-073     26.00%          -      16.00%      30.00%    39.00%
8     071-072     39.00%          -      23.00%      30.00%    20.00%
9     070-071     15.00%          -      21.00%      20.00%    12.00%

In [124]:
cash_df.to_csv('data/cash_dividend.csv')
bonus_df.to_csv('data/bonus_share.csv')